<a href="https://colab.research.google.com/github/MIHLALIMSUTHU/Data_science_projects/blob/main/GooglePlaystore_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('googleplaystore.csv')

Display the top five rows of the dataset.

In [65]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

Check the last three rows of the dataset

In [66]:
df.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

Find Shape of Our Dataset (Number of Rows & Number of Columns)

In [67]:
Columns = df.shape[1]
Rows = df.shape[0]

print('Number of rows is', Rows)
print('Number of columns is', Columns)

Number of rows is 10841
Number of columns is 13

 Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

Get Overall Statistics About The Dataframe

In [69]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

Total Number of App Titles Contain Astrology

In [70]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [71]:
len(df[df['App'].str.contains('Astrology', case=False, na=False)].sum())

13

Find Average App Rating

In [72]:
df['Rating'].mean()

np.float64(4.193338315362443)

Find Total Number of Unique Category

In [73]:
df['Category'].nunique()

34

Which Category Getting The Highest Average Rating?

In [74]:
df.groupby('Category')['Rating'].mean().sort_values(ascending=False).head(1)

Category
1.9    19.0
Name: Rating, dtype: float64

Find Total Number of App having 5 Star Rating

In [75]:
len(df[df['Rating']==5.0])

274

Find Average Value of Reviews

In [76]:
df['Reviews'] = df['Reviews'].replace('3.0M', 3.0)

In [77]:
df['Reviews'] = df['Reviews'].astype('float')

In [78]:
df['Reviews'].dtype

dtype('float64')

In [79]:
df['Reviews'].describe()

count    1.084100e+04
mean     4.441119e+05
std      2.927629e+06
min      0.000000e+00
25%      3.800000e+01
50%      2.094000e+03
75%      5.476800e+04
max      7.815831e+07
Name: Reviews, dtype: float64

Find Total Number of Free and Paid Apps

In [80]:
df['Type'].value_counts()

Type
Free    10039
Paid      800
0           1
Name: count, dtype: int64

Which App Has Maximum Reviews?

In [81]:
df.groupby('App')['Reviews'].sum().sort_values(ascending=False).head(1)

App
Instagram    266241989.0
Name: Reviews, dtype: float64

Display Top 5 Apps Having Highest Reviews

In [82]:
df.groupby('App')['Reviews'].sum().sort_values(ascending=False).head()

App
Instagram                                   266241989.0
WhatsApp Messenger                          207348304.0
Clash of Clans                              179558781.0
Messenger – Text and Video Chat for Free    169932272.0
Subway Surfers                              166331958.0
Name: Reviews, dtype: float64

Find Average Rating of Free and Paid Apps

In [83]:
df.groupby('Type')['Rating'].mean()

Type
0       19.000000
Free     4.186203
Paid     4.266615
Name: Rating, dtype: float64

Display Top  5 Apps Having Maximum Installs

In [84]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [85]:
df.groupby('App')['Installs'].sum().sort_values(ascending=False).head()

App
Life Made WI-Fi Touchscreen Photo Frame                                                 Free
Candy Crush Saga                           500,000,000+500,000,000+500,000,000+500,000,00...
Temple Run 2                               500,000,000+500,000,000+500,000,000+500,000,00...
Viber Messenger                            500,000,000+500,000,000+500,000,000+500,000,00...
Snapchat                                    500,000,000+500,000,000+500,000,000+500,000,000+
Name: Installs, dtype: object